@media (max-width: 25.75rem) {
  .container {
    width: 25.75rem;
  }

  .topNav {
    width: 100%;
    font-size: 12px;
  }

  ul li {
    width: 5.1rem;
  }

  .catalog {
    border: none;
  }

  .events {
    display: none;
  }

  .donate {
    display: none;
  }

  .signIn {
    border: none;
  }

  .search {
    display: none;
  }

  .section1 {
    width: 23.438rem;
    height: 62rem;
    margin: auto;
    margin-top: 0.938rem;
  }

  .logo img {
    width: 4.25rem;
  }

  .description {
    width: 23rem;
    margin: auto;
    margin-top: 2.813rem;
  }

  .btn,
  .checkout {
    margin: auto;
    text-align: center;
  }

  .btn {
    margin-top: 25rem;
  }

  .rating {
    display: none;
  }

  .checkout {
    margin-top: 1rem;
  }

  .book {
    display: none;
  }

  .socials img {
    width: 10rem;
  }
}
