@media (min-width: 21.875rem) and (max-width: 31.188rem) {
  .container {
    width: 25.75rem;
  }

  .topNav {
    width: 100%;
    font-size: 12px;
  }

  .topNav ul li {
    width: 5.1rem;
  }

  .catalog {
    border: none;
  }

  .events {
    display: none;
  }

  .donate {
    display: none;
  }

  .signIn {
    border: none;
  }

  .search {
    display: none;
  }

  .section1 {
    width: 23.438rem;
    height: 44rem;
    margin: auto;
    margin-top: 0.938rem;
  }

  .logo img {
    width: 4.25rem;
  }

  h1 {
    font-size: 1.938rem;
    margin-top: 2.563rem;
  }

  input {
    width: 20.438rem;
  }

  .category {
    display: none;
  }

  .socials img {
    width: 8rem;
  }
}

@media (min-width: 31.25rem) and (max-width: 50rem) {
  .container {
    width: 46rem;
  }

  .topNav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .catalog {
    border: none;
  }

  .events {
    display: none;
  }

  .donate {
    display: none;
  }

  .signIn {
    border: none;
  }

  .search {
    display: none;
  }

  .section1 {
    width: 40rem;
    margin: auto;
    margin-top: 2.875rem;
  }

  .category {
    /* margin: auto;
    margin-top: 20px; */

    display: none;
  }

  .category .selection {
    width: 90px;
  }

  .socials img {
    width: 10rem;
  }
}

@media (min-width: 50.063rem) and (max-width: 75rem) {
  .container {
    width: 51rem;
  }

  .topNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .catalog {
    border: none;
  }

  .events {
    display: none;
  }

  .donate {
    display: none;
  }

  .signIn {
    border: none;
  }

  .search {
    display: none;
  }

  .section1 {
    width: 48rem;
    margin: auto;
    margin-top: 1.875rem;
  }

  .socials img {
    width: 10rem;
  }
}
